html, body{ 
  overflow:auto;
    height: 100%;
    min-height: 100% !important;
   /* border: solid 5px;*/
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
}




#page-container {
	box-sizing: border-box;
	width:100%;
	height: 100%;
    
	min-height: 100% !important;

	padding-top:5px; 
	/*border:1px solid #ced4da;*/

}



#main{
 	position: relative;
 	width: 90%;
 	min-height:80vh;
    /*margin-bottom: -15px;*/
    margin-bottom: -2vh;
    border:1px solid #ced4da;
  /*border-bottom: 1px solid #ced4da;*/
}

h1, h2, p {
	margin-left: 5px;
}	



.black-line {
  background-color: black;
  height: 20px;
}

.grey-line {
  /*background-color: #595959;*/
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px; 
  margin-top: 30px;
}


#banner-header, #banner-footer {
	/*background: linear-gradient(42deg, rgba(81,11,116,1) 10%, rgba(146,56,157,1) 25%, rgba(187,35,45,1) 66%, rgba(166,25,57,1) 84%, rgba(150,55,152,1) 100%);*/

	/* Bleu sombre*/
	/*background: #0f0c29;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		/*80's Purple*/
	/*background: #41295a;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to top, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to top, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/*Blue Lagoon*/
	/*background: #360033;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/* Very Blue*/
	/*background: #0575E6;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/*Dark Ocean*/
	/*background: #373B44;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#banner-header {
  	height:90px;
  	line-height: 90px;
	/*background: rgb(81,11,116);*/
}

#banner-footer {
	bottom: 0;
	margin-top: 2vh;
	height: 70px;
	line-height: 70px;

	border-bottom-right-radius: 15px;
  	border-bottom-left-radius: 15px; 
 	margin-bottom: 30px;
}

#banner-header, #banner-footer, #main, .black-line, .grey-line {
	width: 70%;
}
#page-container, #banner-header, #banner-footer, #main, .black-line, .grey-line {
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
}

.text-banner {
  color: white;
  margin-left: 15px
  /*margin: 1vh 2vh;*/
  /*padding: 10px;*/
}

#banner-header .text-banner {
  min-height: 8vh;
  font-size: 36px;
  font-weight: 600;
}

#banner-footer .text-banner {
  /*height: 60px;*/
  font-size: 18px;
  font-weight: 600;
  /*padding: 30px 0 30px 15px ;*/
}



.pull-right {
	/*margin-top: 2px;*/
	float:right;
	margin-bottom: 10px;
}


.label-input {
  /*display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;*/
  align-items: center;
  padding: 0.375rem 0.75rem;
  /*margin-bottom: 0;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  /*text-align: center;*/
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-left: 10px;
  min-width: 100px;
}

.input-test {
	border-top-right-radius: 0.25rem;
  	border-bottom-right-radius: 0.25rem;
  	line-height: 1.5;
  	margin-left: -5px;
  	padding: 0.375rem 0.75rem;
  	transition: none;
  	min-width: 100px;
}

.label-gender {
  /*display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;*/
  align-items: center;
  padding: 0.375rem 0.75rem;
  /*margin-bottom: 0;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  min-width: 90px;
}

.zoneForm{
	border: 1px solid #ced4da;
	border-radius: 0.5rem;
	padding: 15px;
}

